<div class="flex-container">

  <div class="description">
    <div>
      Now Playing 
      <span *ngIf="!isPlaylistEmpty()">
        ({{ playlistLength }})
      </span>
    </div>
    <mat-icon 
      class="clear-icon" 
      [disabled]="isPlaylistEmpty()"
      (click)="clearPlaylist()">
      delete_outline
    </mat-icon>
  </div>

  <div class="filter">
    <form 
      class="filter-form"
      [formGroup]="searchForm">
      <mat-form-field
        appearance="outline">
        <mat-label>Search</mat-label>
        <input 
          formControlName="search"
          matInput 
          type="text"
          autocomplete="off"
          (input)="handleFilterChange()">
        <button 
          mat-button
          matSuffix 
          mat-icon-button
          (click)="resetSearchFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  
</div>
