<div 
  *ngFor="let video of playlist.videos; let index = index"
  class="now-playlist-track" 
  #playlistTrack
  [class.active]="isActiveMedia(video.id, playlistTrack)">

  <div class="flex-container" (click)="selectVideo(video)">
    <div class="video-thumb flex-item">
      <div class="track-number">
        {{ index + 1 }}
      </div>
      <img src="{{ video.snippet.thumbnails.default.url }}">
    </div>
    <div class="video-title flex-item">
      {{ video.snippet.title }}
    </div>
    <div class="remove-btn flex-item" (click)="removeVideo(video)"
      matTooltip="Remove from playlist">
      <mat-icon>highlight_remove</mat-icon>
    </div>
  </div>

</div>